{% extends 'basic.html' %}

{% load static %}

{% block title %} Search Results {% endblock %}

{% block body %}

<body>
<div class="container mt-2">
	<h2>Search results:</h2>
	{% if allQuestions|length < 1 %}
	<p>No search results</p>

	Your search - <b>{{query}} </b>- did not match any documents.<br><br>
	Suggestions:  
	<ul>
		<li>Make sure that all words are spelled correctly.</li>
		<li>Try different keywords.</li>
		<li>Try more general keywords.</li>
		<li>Try fewer keywords</li>
	</ul>
	{% endif %}
	<div class="container">
		<div class="row">
	    {% for question in allQuestions %}

		  <div class="col-4">
		    <p>{{question.question}}</p>
		  </div>
		  
    	{% endfor %}
		</div>
	</div>
</div>
</body>
{% endblock %}